<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # لو الملف موجود فعلاً
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # أي حاجة غير كده تروح على index.html
  RewriteRule . /index.html [L]
</IfModule>
